<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.somnest.tasbih">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />

    <application
        android:name="com.somnest.tasbih.Appcompany.App"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/icon200"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.IslamicDua"
        android:usesCleartextTraffic="true">

        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/map_key" />

       <activity
    android:name="com.somnest.tasbih.Appcompany.SplashActivity"
    android:exported="true"
    android:launchMode="singleTop"
    android:screenOrientation="portrait">
    <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
    </intent-filter>
</activity>

        <activity
            android:name="com.somnest.tasbih.Appcompany.Privacy_Policy_activity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.somnest.tasbih.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.somnest.tasbih.TodayDuaActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.somnest.tasbih.NotificationActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name="com.somnest.tasbih.MapActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.somnest.tasbih.HajjDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.somnest.tasbih.ZakatActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name="com.somnest.tasbih.HajjJourneyActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.somnest.tasbih.DuaFavoriteActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.somnest.tasbih.QuranFavoriteActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.somnest.tasbih.PrayerAlarmActivity"
            android:screenOrientation="portrait"
            android:showOnLockScreen="true"
            android:showWhenLocked="true"
            android:turnScreenOn="true" />
        <activity
            android:name="com.somnest.tasbih.AllPrayerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.somnest.tasbih.SelectDhikrActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.somnest.tasbih.TasbihCounterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.somnest.tasbih.QuranActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.somnest.tasbih.ChangeLocationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.somnest.tasbih.QuranCategoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.somnest.tasbih.AllahNameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.somnest.tasbih.DuaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.somnest.tasbih.DuaTopicActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.somnest.tasbih.HijriCalender.HijriCalenderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.somnest.tasbih.HijriCalender.calendarevents"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.somnest.tasbih.HijriCalender.calendarevents2"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.somnest.tasbih.DuaCategoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.somnest.tasbih.CompassActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.somnest.tasbih.PrayerTimeConfigureActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.somnest.tasbih.AthkarActivity"
            android:screenOrientation="portrait" />

        <service android:name="com.somnest.tasbih.Service.FetchAddressIntentServices" />
        <service android:name="com.somnest.tasbih.Service.PrayerTimeService" />

        <receiver
            android:name="com.somnest.tasbih.Receiver.BootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.BOOT" />
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>
</manifest>